@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.iconfont {
  display: flex;
  justify-content: center;
  position: relative;
  
  &:after {
    content: attr(data-tip);
    position: absolute;
    bottom: 120%;
    border-radius: 5px;
    font-size: 0.75rem;
    color: #fff;
    background: #303030;
    padding: 0.15rem 0.75rem;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.2s ease-out;
  }
}
